#root {
  margin: auto;
  width: 40%;
  background-color: #9c88ff;
  box-shadow: 0 0 8px #a5aaa8;
  font-family: "Lato", sans-serif;
  transition: 0.5s;
}

/* #root:hover{
  background-color: #5192ae;
  transition: 0.5s;
} */

.innerContainer {
  padding: 1rem 2rem 0 2rem;
  text-align: center;
}

.Bal {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 0.5rem;
  margin: 20px 0;
}

.time {
  font-size: 10px;
  display: flex;

  margin: 0;
  padding: 0;
}

h1 {
  color: #fcfcfc;
  box-shadow: 0 0 10px white;
}

h3 {
  font-size: 21px;
  color: black;
  transition: 0.5s;
  display: flex;
  justify-content: space-around;
  letter-spacing: 2px;
}

h3:hover {
  font-size: 23px;
  transition: 0.5s;
}

.history {
  /* display: flex;
  flex-direction: row;
  justify-content: start; */
  background-color: white;
  color: black;
  transition: 0.5s;
  padding: 1rem 2rem 0 2rem;
}

h4 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0rem 2rem 1rem 1rem;
}

li {
  /* border-right : 2px solid black;
  box-shadow: 0 0 6px whitesmoke;
  display: flex;
  justify-content: space-between;
  margin: 1.5px 0;
  padding: 0.5rem;
  list-style-type: none;
   */
  list-style-type: none;
  transition: 0.5s;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 6px whitesmoke;

  margin: 1.5px 0;
  padding: 0.5rem;
  position: relative;
}

li:hover {
  font-size: 19px;
  transition: 0.5s;
}

.submit {
  /* color: white;
  background-color: gray;
  border:1px solid white;
  padding: 0.5rem 1rem;
  margin-right: 0;
  font-size: 15px;
  transition: 0.5s; */
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.delete {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;

  left: -5%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

button:focus {
  outline: 0;
}
li:hover .delete {
  opacity: 1;
}

.submit:hover {
  color: black;
  background-color: white;
  border: 1px solid gray;
  transition: 0.5s;
}

.submit:focus {
  color: black;
  background-color: white;
  border: 1px solid gray;
  transition: 0.5s;
}

.DELETE {
  background-color: red;
  padding: 3px;
  display: inline-block;
  width: 0;
}

h5 {
  font-size: 20px;
  margin: 0;
  padding: 0.5rem;
}
.inputfields {
  background-color: white;
  padding: 0.3rem 2rem;
  border-top: 1px solid;
  box-shadow: 0 0 3px black;
  text-align: center;
}

.sub {
  font-size: 12px;
}
form {
  width: 100%;
}

input {
  width: 100%;
  padding: 0.3rem 0 0.3rem 0.1rem;
  margin: 0.5rem 0;
  font-size: 17px;
  transition: 0.5s;
}
.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}
.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

.pluss {
  border-right: 2px solid #2ecc71;
}

.minuss {
  border-right: 2px solid #c0392b;
}

.negative {
  color: #c0392b;
}
.positive {
  color: #2ecc71;
}
::placeholder {
  font-size: 17px;
}
input:focus {
  outline: 0;

  transition: 0.5s;
}
